/* DEFAULTS */
:root {
	--fontSize: 16px;
}
html {
	font-size: var(--fontSize);
}
body {
	font-family: Roboto, 'Open Sans', FreeSans, 'Segoe UI', Geneva, sans-serif;
	font-size: 0.9rem;
	padding: 0;
	margin: 0;
	background-color: #2F363D;
}
a {
	color: #467AA3;
	text-decoration: underline;
}
/* NAVIGATION */
.navigation {
    display: flex;   
    padding: 10px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    align-items: center;  
    background-color: #2F363D; 
}
.navigation a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 5px;
}
.navigation a:hover {
    background-color: #628098;
    color: #FFF;
    border-radius: 4px;
}
.navigation a:active {
    background-color: #56788A;
}
.navigation a.active {
    font-weight: bold;
    color: #FFF;
    background-color: #628098;
    border-radius: 5px;
}
/* LANGUAGE-SWITCH */
.navigation .language-switch {
    margin-left: auto;
    align-items: center;
}
.navigation .language-switch .flag-icon {
    width: 25px;
    height: auto;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 2px;
}
/* MOBILE NAVIGATION */
.navigation .hamburger {
    display: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}
.navigation .hamburger:before {
    content: '☰';
    font-size: 2rem;
}
.navigation .mobile {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2F363D;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}
.navigation .mobile a {
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.navigation .mobile a:hover {
    background-color: #628098;
}
.navigation .mobile.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s;
}
/* FORM/FILTER BUTTON */
form {
	z-index: 20;
	color: #FFF;
	background-color: #2F363D;
	padding: 15px;
	position: fixed;
	top: 60px;
	left: 0;
    width: 100%;
}
button {
	width: auto;
	height: 40px;
	display: inline-block;
	border: none;
	background: #628098;
	border-radius: 4px;
	color: #FFF;
	font-weight: bold;
	border-bottom: 3px solid #4A4A4A;
	cursor: pointer;
	font-size: 16px;
	padding: 0 20px;
	margin: 0 10px;
}
button:hover, div.fontsizecontrol > button:hover {
    background-color: #365F7D;
}
input {
	width: 15px;
	height: 15px;
	margin-right: 10px;
}
fieldset {
    border: none;
    margin-top: 15px;
    padding: 0;
}
label {
	display: block;
	user-select: none;
	height: 25px;
	font-size: 16px;
	margin-left: 6px;
}
label:first-of-type {
	margin-top: 15px;
}
.hide {
	display: none;
}
/* FONTSIZE BUTTONS */
.fontsizecontrol {
	position: fixed;
	top: 20px;
	right: 20px;
	display: inline-block;
	margin-top: 55px;
	z-index: 50;
}
.fontsizecontrol button {
	font-size: 16px;
	display: inline-block;
	margin: 0 5px;
}
/* WRAPPER */
body.filter .wrapper {	
	margin-top: 135px;
	height: calc(100vh - 135px);
    overflow-y: auto;
}
.wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	margin-top: 0;
}
/* TABLE */
table {
	border-spacing: 0;
	vertical-align: top;
	text-align: center;
}
th, td {
	padding: 0.7rem 0.5rem;
}
th, .sticky {
	position: -webkit-sticky;
	position: sticky;
}
thead {
	position: sticky;
	z-index: 10;
	height: 4rem;
}
thead img {
	transform: scale(var(--iconSize));
}
th {
	top: 0;
	background-color: #37474f;
	color: #FFF;
	font-weight: bold;
	min-height: 3rem;
}
th:first-child {
	max-width: 200px;
	min-width: 200px;
	left: 0;
	z-index: 2;
}
.sticky {
	left: 0;
	z-index: 1;
}
tbody th {
	background-color: #37474f;
	color: #FFF;
	font-weight: bold;
}
/* FOOTER */
.footer {
    width: 100%;
    background-color: #2F363D;
    color: #FFF;
    text-align: center;
    padding: 20px;
    position: relative;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.3);    
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.footer a {
    color: #FFF;
    text-decoration: none;
}
.footer img {
    height: 26px;
}
.footer img:hover {
    transform: scale(1.1);
}
/* COLORS */
.grey {
	background-color: #566166;
	color: #FFF;
}
.grey a {
	color: #FFF;
}
.darkgrey {
	background-color: #2F363D;
	color: #FFF;
	font-weight: bold;
	height: 2rem;
}
.darkgrey a {
	color: #FFF;
}
.green {
	background-color: #DBEBA4;
}
.yellow {
	background-color: #FFF17E;
}
.red {
	background-color: #FDB4B4;
}
.orange {
	background-color: #FFCB75;
}
.white {
	background-color: #FFF;
}
/* MOBILE */
@media (max-width: 900px) {
	/* MOBILE NAVIGATION */
    .navigation {
        justify-content: space-between;
    }
    .navigation a {
        display: none;
    }
    .navigation .hamburger {
        display: block;
    }
    .navigation .mobile.active a {
        display: block;
    }
}
@media all and (max-width: 600px) {
	/* FORM/FILTER BUTTON */
	input {
		width: 20px;
		height: 20px;
	}
	label {
		height: 32px;
		font-size: 16px;
	}
	/* TABLE */
	th:first-child {
		min-width: 130px;
	}
	thead a img {
		height: auto;
		max-width: 45px;
	}
}
@media (max-height: 900px) {
	/* FORM/FILTER BUTTON */
    fieldset {
		display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    fieldset button {
		grid-column: 1 / -1;
		width: 60px;
		margin-bottom: 15px;
	}
    label {
		font-size: 15px;
	}
	label:first-of-type {
		margin-top: 0px;
	}
}
@media (max-height: 500px) {
	/* FORM/FILTER BUTTON */
    fieldset {
        grid-template-columns: repeat(3, 1fr);
    }
    fieldset button {
		display: none;
	}
}
